@import "css/reset.css";
@import "typography.scss";


$primary-color: #f70201;
$body-font: "Jost";
$body-size:24px;

@mixin drop-shadow($color){
     box-shadow: 0 0 10px $color;
}

body{
    background-color:$primary-color;
    color:white;
    font-family:$body-font;
    font-size:$body-size;
    line-height:1.5;
}
section{
    background-color:white;
    color:$primary-color;
    @include drop-shadow(green);
    
    p{
        margin:24px 0 0 0;
        @include drop-shadow(blue);
        
    }
}